.container{
    background-color: rgb(171, 193, 233);
    padding-top: 20pt;
    padding-bottom: 20pt;
}

.titulo{
  display: block;
  text-align: center;  
  padding-top: 20pt;
}

.card-deck{
display: flex;
justify-content: space-evenly;
}
